<%- include ("header") -%>
<h2>
    <%= listTitle %>
</h2>

<p class="p1">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam repellendus in id harum veniam cumque quasi eaque temporibus commodi, illo ex culpa officia quia quisquam minus iusto dicta eligendi ad.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur incidunt nihil quibusdam dolores inventore optio voluptates cumque ratione ea est, eligendi natus consequatur doloremque sint beatae autem dignissimos repudiandae reiciendis? Dolore molestiae inventore commodi error sit dolores explicabo ut dignissimos. Excepturi necessitatibus corrupti molestiae labore tempore repudiandae, eaque quibusdam et facere eligendi quo at exercitationem, odit, autem nemo? Amet eligendi aliquam atque quisquam minus saepe sapiente debitis. Harum natus ratione vel. Quae nesciunt recusandae natus voluptatum quibusdam! Nemo suscipit eos reprehenderit, maiores neque nihil? Dicta ratione mollitia et repellat neque temporibus, fugit deserunt 
</p>

<%- include ("footer") -%>